{% extends "main.html" %}
{% block content %}


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Travel 7</a>
				
            </div>
			
			 <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					<!--need to change log out -->
					
					<li>
                       <h4 class="headerLines" style="font-size: 25px;color:#F7CE32">hi {{creator.name}},</h4>
                    </li>
                    
                    <li>
                        <img src="{{creator.picture}}" alt="Smiley face" height="50" width="50">
                    </li>
					
					
					<li>
                        <a class="page-scroll" href="{{url_for('disconnect')}}">Log out</a>
                    </li>
					
					<li>
                        <a class="page-scroll" href="{{url_for('showIndex')}}">Home</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            
        </div>
        <!-- /.container-fluid -->
    </nav>
	
    <header>
        <div class="header-content">
            <div class="header-content-inner">
			<br>
				<h3 class="headerLines">Delete city for</h3><h4 class="headerLines headerColor cityFontSize"> {{ deleteCity.category }} Category<h4>
				<table class="table"> 
					
						  <tr>
							<td colspan="1">
									<h4 class="headerLines">Are you sure you want to delete {{deleteCity.name}} under category {{deleteCity.category}}? </h4>
							</td>
		
						  </tr>
						  <tr>
							<td>
								<form action="#" method = "post">
									<button type="submit" class="btn btn-default delete" id="submit" type="submit">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
								</form>
								<br>
								<a href = "{{url_for('showCityDescription', city_id = deleteCity.id)}}">
									<button class="btn btn-default delete">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
								</a>
							<td>
							
						  </tr>
				
				 </table>
            </div>
        </div>
		
		
		
    </header>
	
	

{% endblock %}
