<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Travel Seven</title>

    <!-- Bootstrap Core CSS -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
	

    <!-- Plugin CSS -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/animate.min.css') }}">
    

    <!-- Custom CSS -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/creative.css') }}">
	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/travelseven.css') }}">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
	
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/creative.js') }}"></script>
	<script src="{{ url_for('static', filename='js/travelseven.js') }}" ></script>
	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/weather.css') }}">


</head>
<body id="page-top">

	{% block content %}
	{% endblock %}

			
  <!-- jQuery -->
  
  

</body>
<script src="{{ url_for('static', filename='js/jquery.simpleWeather.js') }}"></script>
	<script>
		// Docs at http://simpleweatherjs.com
		$(document).ready(function() {
		var city_name = $('#city_name').val();
		
		  $.simpleWeather({
			location: city_name,
			woeid: '',
			unit: 'f',
			success: function(weather) {
			  html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
			  html += '<ul><li>'+weather.city+', '+weather.region+'</li>';
			  html += '<li class="currently">'+weather.currently+'</li>';
			  html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';
			  $("#weather").html(html);
			},
			error: function(error) {
			  $("#weather").html('<p>'+error+'</p>');
			}
		  });
		});
		
		function myFunction(){
			alert("entered");
		}
	</script>

</html>