{% extends "main.html" %}
{% block content %}


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Travel 7</a>
				
            </div>
			
			 <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					<!--need to change log out -->
					
					<li>
                       <h4 class="headerLines" style="font-size: 25px;color:#F7CE32">hi {{creator.name}},</h4>
                    </li>
                    
                    <li>
                        <img src="{{creator.picture}}" alt="Smiley face" height="50" width="50">
                    </li>
					
					
					<li>
                        <a class="page-scroll" href="{{url_for('disconnect')}}">Log out</a>
                    </li>
					
					<li>
                        <a class="page-scroll" href="{{url_for('showIndex')}}">Home</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            
        </div>
        <!-- /.container-fluid -->
    </nav>
	
    <header>
        <div class="header-content">
            <div class="header-content-inner">
			<form action="#" method = "post">
			<br>
			<h3 class="headerLines">Add New city for</h3><h4 class="headerLines headerColor cityFontSize"> {{ categoryName }} Category<h4>
				
				
				<table class="table"> 
					<thead>
						  <tr>
							<th class="cityColumnHeader " ><h3 class="headerLines">Label</h3></th>
							<th class="cityColumnHeader"><h3 class="headerLines">Fields</h3></th>
						  </tr>
					</thead>
					<tbody>
					
						<tr>
							<td>
								<label class="headerLines newCityLabelColor" for="name">Name:</label>
							</td>
							<td>
								<input type ="text" id="name" class="form-control newCityFieldColor" maxlength="100" name="name">
							</td>
						</tr>
						
						<tr>
							<td>
								<label class="headerLines newCityLabelColor" for="name">Category Name:</label>
							</td>
							<td>
								<input type="text" class="newCityFieldColor" name="categoryName" value="{{ categoryName }}" readonly>
							</td>
						</tr>
						
						<tr>
							<td>
								<label class="headerLines newCityLabelColor" for="name">Description:</label>
							</td>
							<td>
								<textarea rows="4" id="description" class="newCityFieldColor" cols="50" name="description"  placeholder="enter city description"></textarea>
							</td>
						</tr>
						
						<tr>
							<td>
								<label class="headerLines newCityLabelColor" for="name">Best Season:</label>
							</td>
							<td>
								<input type="text" id="bestseason" class="newCityFieldColor" name="bestSeason" value="" placeholder="Best Season">
							</td>
						</tr>
						
						<tr>
							<td>
								<label class="headerLines newCityLabelColor" for="name">Image:(only hyperlink)</label>
							</td>
							<td>
								<input type="text" class="newCityFieldColor" name="imageLink" value="" placeholder="Image Hyperlink">
							</td>
						</tr>
						
						<tr>
							<td></td>
							<td>
									<button type="submit" class="btn btn-default" id="submit" type="submit">
									<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Create</button>
							</td>
						</tr>
						
					</tbody>
				 </table>

				</form>
            </div>
        </div>
		
		
		
    </header>
	
{% endblock %}
