{% extends "main.html" %}
{% block content %}

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{url_for('showIndex')}}">Travel 7</a>
				
            </div>
			
			 <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					<!--need to change log out -->
					
					<li>
                       <h4 class="headerLines" style="font-size: 25px;color:#F7CE32">hi {{creator.name}},</h4>
                    </li>
                    
                    <li>
                        <img src="{{creator.picture}}" alt="Smiley face" height="50" width="50">
                    </li>
					
					
					<li>
                        <a class="page-scroll" href="{{url_for('disconnect')}}">Log out</a>
                    </li>
					
					<li>
                        <a class="page-scroll" href="{{url_for('showIndex')}}">Home</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            
        </div>
   
    </nav>
	
    <header>
        <div class="header-content">
            <div class="header-content-inner">
			
			<h3 class="headerLines">Places in </h3><h4 class="headerLines headerColor cityFontSize"> {{ categoryName }} Category<h4>
				
				
				<table class="table table-hover"> 
					<thead>
						  <tr>
							<th class="cityColumnHeader " ><h3 class="headerLines">Places</h3></th>
							<th class="cityColumnHeader">
								<a href="{{url_for('newCity', categoryName = categoryName)}}">
									<button class="btn btn-default" id="new-restaurant">
										<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add City
									</button>
								</a>
							</th>
							<th class="cityColumnHeader headerLines">				
								<a href = "{{url_for('showCategoryJSON', categoryName = categoryName)}}" target="_blank">
										get JSON CITY
								</a>									
							</th>
						  </tr>
					</thead>
					<tbody>
					
					{% for city in city %}
						<tr>
							<td>
								<a href = "{{url_for('showCityDescription', city_id = city.id)}}">
									<h4 class="headerLines">{{city.name}}</h4>
								</a>
							</td>
							<td>
								{% if city.user_id == creator.id %}
								<a href="{{url_for('editCity', cityId = city.id )}}">
									<button class="btn btn-default" id="edit-restaurant">
										<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit City
									</button>
								</a>
				
								<a href="{{url_for('deleteCity', cityId = city.id )}}">
									<button class="btn btn-default" id="delete-restaurant">
										<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete City
									</button>
								</a>
								{% endif %}
							
							</td>
							<td></td>
						</tr>
					{% endfor %}
						
					</tbody>
				</table>

				
            </div>
        </div>
		
		
		
    </header>

{% endblock %}
